@import 'topcoder/tc-includes';
@import "../tc-ui-variables";

.login-container {
  form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    p + button {
      margin-top: 0;
      
      &:focus {
        outline: 3px auto $tc-dark-blue-90;
      }
    }
  }
  .form-errors {
    p {
      margin-bottom: 20px;
    }
  }

  button[type=submit] {
    background-color: $tc-dark-blue-110 !important;
  }

  button[type=submit]:disabled {
    background-color: $tc-gray-60 !important;
  }

  .problem-signin {
    @include font-with-weight('Merriweather Sans');
    color: #a3a3ae;
    font-size: 12px;
    line-height: 15px;
    margin-top: 10px;
    .forgot-password {
      font-size: 12px;
      margin-bottom: 25px;
      margin-top: 25px;
      color: #006DEA;
      &:focus {
        outline: 3px auto $tc-dark-blue-90;
      }
    }
  }
  section.login-options {
    @media (max-width: 767px) {
      margin-bottom: 41px;
    }
    @media (min-width: 768px) {
      margin-bottom: 60px;
    }
  }
}
