@import 'topcoder/tc-includes';

.reset-password-container {
  form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    button {
      align-self: center;
      margin-top: 0px;

      &[type='submit'] {
        margin-top: 20px;
      }
    }
  }
  .link {
    font-size: 12px;
    margin-bottom: 25px;
    margin-top: 25px;
  }
}
