@import 'topcoder/tc-includes';
@import "../tc-ui-variables";

.reset-password-container {
  form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    button {
      align-self: center;
      margin-top: 0px;

      &[type='submit'] {
        margin-top: 20px;
      }
    }
  }
  .link {
    font-size: 12px;
    margin-bottom: 25px;
    margin-top: 25px;
  }
  .link:focus {
    outline: 2px solid $tc-dark-blue-90;
  }

  .tc-btn:focus {
    border: 1px solid $tc-dark-blue-90;
    background-color: $tc-dark-blue-90;
    box-shadow: 0 0 2px 1px $tc-dark-blue-70;
  }
}
