@import 'topcoder/tc-includes';

.reset-password-container {
  form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    button {
      align-self: center;
      margin-top: 0px;

      &[type='submit'] {
        margin-top: 20px;
      }
    }
  }
  .link {
    font-size: 12px;
    margin-bottom: 25px;
    margin-top: 25px;
  }
  .link:focus {
    outline: 2px solid #59a7ff;
  }

  .tc-btn:focus{
    border: 1px solid #1A85FF;
    background-color: #1A85FF;
    box-shadow: 0 0 2px 1px #59A7FF;
  }
}
