.flex.center.middle.connect-accounts-container.tc-ui("role"="main")
  login-reg-shell
    header.flex.center.middle
      img(src=require("../../images/logo_mobile.svg"))
    main.light-bg.elevated-bottom.connect-accounts-content
      sso-login
        loader(ng-if="vm.loading")

        div(ng-show="!vm.success")
          h1 TopCoder SSO

          p.secondary Please enter the identifier (email address) you use to login with your SSO provider.

          p.error(ng-show="vm.error") {{ vm.error }}

          form(ng-submit="vm.submit()")
            input.input.input-sm(type="text" ng-model="vm.emailOrHandle" required=true placeholder="Email or handle" autofocus=true)

            button.action.tc-btn.tc-btn-primary(type="button" style="margin-bottom:11px" ng-click="vm.submit()") Continue
            p <a ng-click="vm.showRegistrationPage()">Back to Registration</a>

        p.success(ng-show="vm.success") Redirecting to {{ vm.org }} login...

    footer
      p.copyright © Topcoder 2017
