.connect-accounts-container.tc-ui("role"="main")
  .connect-accounts-header
    img(src=require("../../images/connect/connect.png"), alt='')
    .login
      span Already have an account? 
      a.tc-btn.tc-btn-default.tc-btn-sm(ui-sref="CONNECT_LOGIN") Log in
  .connect-accounts-content
    h2 {{ vm.success ? 'Back on Track!' : 'Reset Password' }}
    p {{ vm.success ? "" : "It's ok, happens to all of us." }} 
    p.error(ng-if="vm.error") {{ vm.error }}
    loader(ng-if="vm.loading")

    form.connect-accounts-form(ng-submit="vm.submit()" ng-if="!vm.success")
      .wrapper
        label Username or email
        input.input.input-sm(type="text" ng-model="vm.email" required=true autofocus=true)

      button.action.tc-btn.tc-btn-primary(type="submit") Reset password

      p.small-text We’re going to send you an email shortly with a link to reset your password. Please allow for some time or check your spam folders. If you still need help, contact us at <a href="mailto:support@topcoder.com">support@topcoder.com</a>
    p.success(ng-show="vm.success") Thanks, we've emailed you a reset link. Please check your inbox. If you still need help, please contact us at <a href="mailto:support@topcoder.com">support@topcoder.com</a>

  footer
    p.copyright © 2017 topcoder. All Rights Reserved

