.connect-accounts-container.tc-ui("role"="main")
  .connect-accounts-header
    img(src=require("../../images/connect/connect.png"), alt='')
    .login
      span Don’t have an account? 
      a.tc-btn.tc-btn-default.tc-btn-sm(href="{{vm.registrationUrl}}") Register for free
  .connect-accounts-content
    h2 Welcome back!
    p Crowdsourcing for your winning project
    p.info(ng-if="vm.passwordReset") Your password has been updated. Please login.
    loader(ng-if="vm.loading")
    form.connect-accounts-form(role="form" novalidate autocomplete="off" ng-submit="vm.submit()" method="post")
      .wrapper
        label Username or email
        input.input.input-sm(type="text" ng-model="vm.username" required=true autofocus=true ng-class="{ error : vm.loginErrors.USERNAME_NONEXISTANT || vm.loginErrors.ACCOUNT_INACTIVE }")
        .error-block(ng-if="vm.loginErrors.USERNAME_NONEXISTANT")
          p.form-error We couldn't find a member with that {{vm.emailOrUsername || "username"}}. Please check that you entered it correctly.
        .error-block(ng-if="vm.loginErrors.ACCOUNT_INACTIVE") Your account is inactive, please contact support for activating it.

      .wrapper
        label Password
        toggle-password-with-tips
        .error-block(ng-if="vm.loginErrors.WRONG_PASSWORD") That password is incorrect. Please check that you entered the right one.

      .forgot.small-text
        | Password problems. 
        a(href="{{vm.forgotPasswordUrl}}") Reset your password here?

      button.action.tc-btn.tc-btn-primary.tc-btn-sm(type="submit") Login

      .login-options
        hr

        p Or use your enterprise account

        a.tc-btn.tc-btn-secondary.sso-signon(ui-sref="SSO_LOGIN({retUrl:vm.$stateParams.retUrl})") Single Sign On
  p.copyright © 2017 topcoder. All Rights Reserved
