.connect-accounts-container.tc-ui
  .connect-accounts-header
    a(href='#')
      img(src=require("../../images/connect/connect.png"), alt='')
  h2.title(ng-if="vm.isConnectProjectFlow") Your project was saved successfully
  .connect-accounts-content
    h3(ng-if="vm.isConnectProjectFlow") Last step - verify your email
    h3(ng-if="!vm.isConnectProjectFlow") Verify you email
    p.error.transition(ng-if="vm.error") {{ vm.message || "Currently we can't verify your security PIN" }}

    .info(ng-if="vm.activated")
      p Thank you for activating your account. Loggin you in...

    .info(ng-if="vm.loggedIn")
      p Sucessfully logged you in. Redirecting to your project...

    .info(ng-if="vm.emailEditSuccess")
      p Successfully updated email address. New PIN is sent to the new email address.
    form(name="vm.emailForm" ng-submit="vm.updateEmailAndResendPIN()" method="post" ng-if="vm.emailEditMode" )
      p.text
        | Please enter the new email:
      .new-email(ng-if="vm.emailEditMode")
        input.input.input-md(type='email', ng-model="vm.email" required=true)
        button.tc-btn.tc-btn-primary.tc-btn-md(type="submit" ng-disabled="vm.emailForm.$invalid" ) Update email and send a new PIN
        button.tc-btn.tc-btn-secondary.tc-btn-sm(ng-click="vm.toggleEmailEdit()") Cancel
    form(name="vm.pinForm" ng-submit="vm.submit()" method="post" ng-if="!vm.emailEditMode")
      p.text
        | In order to protect your data, we need to verify your email address. Please enter the one-time PIN we sent to your email:
      .verify-email
        | {{ vm.email }}
        a(ng-click="vm.toggleEmailEdit()") edit
      .security-pin
        label Security PIN:
        input.input.input-md(type="password" ng-model="vm.pin" required=true)
        button.tc-btn.tc-btn-primary.tc-btn-md(ng-disabled="vm.pinForm.$invalid" type="submit") Verify
    p.small-text
      | Allow for some time before your email arrives. Check in your spam folder to make sure it was not blocked by your email server. If you didn't get a code or need further help, contact 
      a(href='mailto:support@connect.com') support@connect.com
  p.copyright © 2017 topcoder. All Rights Reserved