.connect-accounts-container.tc-ui
  .connect-accounts-header
    a(href='#')
      img(src=require("../../images/connect/connect-logo-mono.svg"), alt='')
  .confirmation-block.confirmation-block-md(ng-if="vm.isConnectProjectFlow")
    span Your account has been created. Last step: double-check your email address to help keep your account secure.
  .connect-accounts-content
    h3 Verify your email address
    .error-block.error-block-md(ng-if="vm.error && !vm.pinError && !vm.emailError") {{ vm.message || "Currently we can't verify your security PIN" }}

    form(name="vm.emailForm" ng-submit="vm.updateEmailAndResendPIN()" method="post" ng-if="vm.emailEditMode" )
      p.text
        | Please enter the new email:
      .new-email(ng-if="vm.emailEditMode")
        input.input.input-md(type='text' name="email" ng-model="vm.email" required=true valid-email email-is-available ng-class="{ 'error' : vm.emailForm.email.$dirty && vm.emailForm.email.$invalid }")
        .error-block.error-block-md(ng-show="vm.emailForm.email.$dirty && vm.emailForm.email.$invalid", ng-messages="vm.emailForm.email.$error")
          span(ng-message="emailIsAvailable") {{vm.emailErrorMessage}}

          span(ng-message="validEmail") {{vm.emailErrorMessage}}

          span(ng-message="required") Please enter an email address.
        .error-block.error-block-md(ng-if="vm.error && !vm.pinError && vm.emailError") {{ vm.message || "Currently we can't update your email" }}
        button.tc-btn.tc-btn-primary.tc-btn-md(type="submit" ng-disabled="vm.emailForm.$invalid || vm.emailForm.$pending" ) Update email and send a new PIN
        button.tc-btn.tc-btn-secondary.tc-btn-sm(ng-click="vm.toggleEmailEdit()") Cancel
    form(name="vm.pinForm" ng-submit="vm.submit()" method="post" ng-if="!vm.emailEditMode")
      p.text
        | In order to protect your data, we need to verify your email address. We’ve just sent a one-time PIN to your email. Please enter it below:
      .verify-email
        | {{ vm.email }}
        a(ng-click="vm.toggleEmailEdit()") edit
      .confirmation-block.confirmation-block-md(ng-if="vm.emailEditSuccess")
        span Your email was updated, and we’ve sent you a new PIN. Please enter it below.
      .security-pin(ng-if="!vm.errorLimit")
        label Security PIN:
        input.input.input-md(type="text" name="pin" ng-model="vm.pin" required=true ng-class="{ 'error' : vm.pinForm.pin.$dirty && vm.pinForm.pin.$invalid }")
        button.tc-btn.tc-btn-primary.tc-btn-md(ng-disabled="vm.pinForm.$invalid" type="submit") Verify
      .error-block.error-block-md(ng-if="vm.error && vm.pinError && !vm.emailError && !vm.errorLimit") {{ vm.message || "Currently we can't verify your security PIN" }}
      .error-block.error-block-md(ng-if="vm.error && vm.pinError && !vm.emailError && vm.errorLimit") {{ vm.message + vm.errorCountDown + " seconds" || "Currently we can't verify your security PIN" }}
      .confirmation-block.confirmation-block-md(ng-if="vm.activated")
        span Thank you for verifying your account. Logging you in...

      .confirmation-block.confirmation-block-md(ng-if="vm.loggedIn")
        span Sucessfully logged you in. #[span(ng-if="vm.isConnectProjectFlow") Redirecting to your project...] #[span(ng-if="!vm.isConnectProjectFlow") Redirecting...]
    p.small-text
      | If you don’t see an email from us right away, wait for a few minutes or check your spam folder. If you don’t receive a message or need help with your account, please contact <a href="mailto:support@topcoder.com">support@topcoder.com</a>.
      a(href='mailto:support@connect.com').
  p.copyright © Topcoder #{new Date().getFullYear()}
