main.layout-main.login-reg.flex.center.middle("role"="main" flush-height="lock")
  login-reg-shell
    header.flex.center.middle
      img(src=require("../../images/connect/asp.svg"))

    main.light-bg.elevated-bottom
      p Thanks for creating an account.  We've sent you a confirmation link.  Please check your email and click the link to activate your account. If you can't find the message please contact <a href="mailto:support@topcoder.com">support@topcoder.com</a>