.flex.center.middle.connect-accounts-container.tc-ui("role"="main" flush-height="lock")
  login-reg-shell
    header.flex.center.middle
      img(src=require("../../images/logo_mobile.svg"))

    main.light-bg.elevated-bottom
      p(ng-if="!vm.ssoUser") Thanks for creating an account.  We've sent you a confirmation link.  Please check your email and click the link to activate your account. If you can't find the message please contact <a href="mailto:support@topcoder.com">support@topcoder.com</a>
      p(ng-if="!!vm.ssoUser") Thanks for creating an account.

  p.copyright © 2017 topcoder. All Rights Reserved
