.connect-accounts-container.tc-ui("role"="main")
  .connect-accounts-header
    img(src=require("../../images/connect/connect-logo-mono.svg"), alt='')
  .connect-accounts-content
    h2 Set new password
    p.subTitle Create a new password for your account
    .error-block(ng-if="vm.error") {{ vm.error }}
    loader(ng-if="vm.loading")

    form.connect-accounts-form(name="vm.resetPasswordForm" ng-submit="vm.submit()" ng-if="!vm.success")
      .wrapper
        label New password
        toggle-password-with-tips
        .tooltip.tooltip-password(ng-show="vm.passwordFocus")
          .arrow
          h4 YOUR PASSWORD MUST HAVE:
          p(ng-class="{ line : vm.resetPasswordForm.password.$error.minlength || vm.resetPasswordForm.password.$error.maxlength || vm.resetPasswordForm.password.$error.required}")
            img.check(src=require('../../images/ui-16px-1_check-bold-blue.svg'), ng-if="(vm.resetPasswordForm.password.$dirty && !vm.resetPasswordForm.password.$error.minlength && !vm.resetPasswordForm.password.$error.maxlength && !vm.resetPasswordForm.password.$error.required)")
            | At least 8 characters
          p(ng-class="{ line : vm.resetPasswordForm.password.$error.hasLetter}")
            img.check(src=require('../../images/ui-16px-1_check-bold-blue.svg'), ng-if="(vm.resetPasswordForm.password.$dirty && !vm.resetPasswordForm.password.$error.hasLetter)")
            | At least 1 letter
          p(ng-class="{ line : vm.resetPasswordForm.password.$error.hasSymbolOrNumber}")
            img.check(src=require('../../images/ui-16px-1_check-bold-blue.svg'), ng-if="(vm.resetPasswordForm.password.$dirty && !vm.resetPasswordForm.password.$error.hasSymbolOrNumber)")
            | At least 1 number or symbol
      .confirmation-block.confirmation-block-md(ng-if="vm.passwordResetDone")
        span Successfully reset your password. Logging you in...

      .confirmation-block.confirmation-block-md(ng-if="vm.loggedIn")
        span Sucessfully logged you in. Redirecting to your projects...

      button.action.tc-btn.tc-btn-primary(ng-disabled="vm.resetPasswordForm.$invalid" type="submit") Set password

  footer
    p.copyright © Topcoder 2017


