.connect-accounts-container.tc-ui("role"="main")
  .connect-accounts-header
    img(src=require("../../images/connect/connect.png"), alt='')
    .login
      span Already have an account? 
      a.tc-btn.tc-btn-default.tc-btn-sm(ui-sref="CONNECT_LOGIN") Log in
  .connect-accounts-content
    h2 {{ vm.success ? 'Congratulations!!' : 'Reset Password' }}
    p(ng-if="!vm.success") Set new password for your account
    p.error(ng-if="vm.error") {{ vm.error }}
    loader(ng-if="vm.loading")

    form.connect-accounts-form(ng-submit="vm.submit()" ng-if="!vm.success")
      .wrapper
        label New password
        toggle-password-with-tips

      button.action.tc-btn.tc-btn-primary(type="submit") Reset password

    p.success(ng-show="vm.success") Your password has been updated. Please <a href="{{ vm.loginUrl }}">login</a> now. If you still need help, please contact us at <a href="mailto:support@topcoder.com">support@topcoder.com</a>

  footer
    p.copyright © 2017 topcoder. All Rights Reserved


