  

main.layout-main.login("role"="main" layout-main=true flush-height=true)

  login-reg-shell

    p.error.transition(ng-show="vm.hasError()") {{vm.error}}

    p(ng-show="!vm.hasError()") Now redirecting...

    footer(ng-show="vm.hasError()")
      p <a ui-sref="CONNECT_LOGIN({retUrl:vm.$stateParams.retUrl})">Back to Login</a>