main.layout-main.login-reg.flex.center.middle("role"="main")
  login-reg-shell
    header.flex.center.middle
      img(src=require("../../images/logo_mobile.svg"))

    main.light-bg.elevated-bottom
      sso-login
        loader(ng-if="vm.loading")

        div(ng-show="!vm.success")
          h1 TopCoder SSO

          p.secondary Please enter the identifier (username or email address) you use to login with your SSO provider.

          p.error(ng-show="vm.error") {{ vm.error }}

          form(ng-submit="vm.submit()")
            input.widest(type="text" ng-model="vm.emailOrHandle" required=true placeholder="Email or handle" autofocus=true)

            button.action(type="submit" style="margin-bottom:11px") Continue

        p.success(ng-show="vm.success") Redirecting to {{ vm.org }} login...

    footer
      p <a ng-click="vm.showLoginPage()">Back to Login</a>