@import 'topcoder/tc-includes';

// Toggle password with password tips directive
toggle-password-with-tips {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  position: relative;


  .input-btn {
    width: 100%;
  }

  .tooltip {
    opacity: 0;
  }

  input#password-input:focus ~ .tooltip {
    opacity: 1;
  }

  label {
    display: flex !important;
    line-height: 20px !important;
    position: absolute;
    top: 10px;
    right: 0px;
  }
}
