doctype html
html(ng-app='accounts')
  head
    meta(http-equiv='Content-type', content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')
    base(href='/')
    title Topcoder
    style.
      .ng-hide {
      display: none !important;
      }
    script(src='//use.typekit.net/gig7sjk.js')
    script.
      try {Typekit.load({ async: true });} catch(e){}

  body.tc
    .building(ng-show="loadingState")
      .img
    ui-view.view-container
    
    div(ui-view="footer", ng-controller="FooterController as vm")
      .account-footer
        p.copyright-notice &copy; {{vm.currentYear}} Topcoder. All Rights Reserved

    
    include ./views/google.analytics.jade
