@import "../variables";

.connect-register-container {
  background: #FAFAFB;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;

  h2 {
    margin: 0 20px 10px;
    font-weight: 300;
    font-size: 36px;
    color: #262628;
    line-height: 40px;
    text-align: center;

    /* remove side effect of appirio-styles */
    text-transform: none;
    font-family: inherit;
  }

  h2.title {
    margin-top: -30px;
    margin-bottom: 50px;
  }

  h2 + p {
    font-size: 20px;
    color: #888894;
    line-height: 30px;
    text-align: center;

    /* remove side effect of appirio-styles */
    font-weight: inherit;
  }

  h3 {
    margin: 0 0 30px;
    font-weight: 400;
    font-size: 20px;
    color: #47474F;
    line-height: 30px;
    text-align: center;
  }

  p.text {
    margin: 0 0 20px;
    font-size: 15px;
    color: #47474F;
    line-height: 25px;
  }

  p.error {
    text-align: center;
  }

  a {
    color: #0B71E6;
    text-decoration: none;
  }

  .small-text {
    margin: 30px 0 0;
    font-size: 12px;
    color: #888894;
    line-height: 20px;
  }

  .new-email {
    padding: 10px 10px 20px;
    background: #FAFAFB;
    border-radius: 4px;
  }

  .new-email .input {
    width: 100%;
    display: block;
    background: #FFFFFF;
    text-align: center;
  }

  .new-email .btn {
    margin-top: 20px;
  }

  .verify-email {
    position: relative;
    padding: 20px 60px;
    margin-bottom: 30px;
    background: #FAFAFB;
    border-radius: 4px;
    font-size: 20px;
    color: #47474F;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .verify-email a {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 13px;
  }


  .register-header {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    text-align: right;
    padding: 20px 20px 25px 24px;
    font-size: 15px;
    color: #888894;
    line-height: 30px;
  }

  .register-header a {
    display: inline-block;
  }

  .register-header .tc-btn {
    margin-left: 10px;
  }

  .register-content {
    max-width: 540px;
    width: 90%;
    margin: 0 auto;
    padding: 50px;
    background: #FFFFFF;
    box-shadow: 0 2px 9px 0 rgba(38, 38, 40, 0.06);
    border-radius: 7px;
  }

  .register-content .terms-policy {
    margin: 0 20px;
    font-size: 12px;
    color: #747480;
    line-height: 20px;
    text-align: center;
  }

  .register-content .tc-btn-primary {
    display: block;
    margin: 30px auto 0;
  }

  .register-content .security-pin .btn {
    margin: 0;
    min-width: 80px;
  }

  .register-form {
    max-width: 390px;
    width: 90%;
    margin: 30px auto 0;
  }

  .register-form.register-form--mt50 {
    margin-top: 50px;
  }

  .register-form .wrapper {
    position: relative;
    margin: 0 5px 15px;
  }

  .register-form .wrapper.wrapper-half {
    display: inline-block;
    width: calc(50% - 12px);
  }

  .register-form .wrapper.wrapper-tooltip .input:focus ~ .tooltip {
    opacity: 1;
  }

  .register-form .wrapper .input {
    display: block;
    width: 100%;
  }

  .register-form .wrapper label {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    color: #47474F;
    line-height: 15px;

    /* remove side effect of appirio-styles */
    text-transform: none;
    font-weight: inherit;
  }

  .register-form .small-text {
    margin-top: 10px;
    text-align: center;
  }

  .register-form .wrapper toggle-password-with-tips label {
    color: #A3A3AE;
  }

  .login-options {
    margin-top: 4 * $base-unit;
    display: flex;
    flex-direction: column;
    align-items: center;

    hr {
      width: 50%;
    }

    .sso-signon {
      margin-top: 2 * $base-unit;
    }
  }
}