@import "work/work-includes";
@import "variables";

login-reg-shell {
  display   : block;
  text-align: center;
  width: 100%;

  @media (min-width: 768px) {
    margin-top: 50px; // added
    width     : 620px;
  }

  p.error {
    max-height : 40px;
    overflow   : hidden;
    padding-top: 20px;

    &.hide {
      padding-top: 0px;
      max-height: 0;
    }
  }

  loader .container {
    z-index: 1;
  }

  main {
    width: 100%;
    background-color: $white;
    padding-top: 30px;

    > p {
      font-size    : 16px;
      font-weight  : 400;
      line-height  : 21px
    }
  }

  h1 {
    font-weight: 300;
    color: $gray-darkest;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0px auto 30px auto
  }

  header {
    background-color: $gray-darkest;
    border-radius: 3px 3px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    position: relative;

    img {
      display: inline-block;
      height: 30px;
    }
  }

  footer {
    margin-top: $vertical;
  }

  form {
    margin-left : auto;
    margin-right: auto;
    padding: 0px 20px;
    @media (min-width: 768px) {
      width: 380px;
    }

    input, button, .button {
    }

    input[type='text'],
    input[type='email'],
    input[type='password'],
    toggle-password,
    toggle-password-with-tips {
      width: 100%;

      @media (min-width: 768px) {
        width: 380px;
      }
    }


    // Autocomplete
    .angucomplete-dropdown {
      box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .4);
      color: $gray-darkest;
      width: 100%;
      text-align: left;
    }
    .angucomplete-selected-row {
      /* used gray-lighter instead of primary-lighter as work does not have that exact color*/
      /* #F2FAFF -> F2F2F2*/
      background-color: $gray-lighter;
      color: $gray-darkest;
    }
  }
}

/* To resolve conflicts between tc-ui and appirio-styles*/
.connect-accounts-container login-reg-shell .connect-accounts-content {
  max-width: inherit;
  width: 100%;
}