@import "../tc-ui-variables";

.connect-accounts-container {

  .login-options {
    margin-top: 4 * $base-unit;
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      text-decoration: underline;
    }

    hr {
      width: 50%;
    }

    .sso-signon {
      margin-top: 2 * $base-unit;
    }
  }
}