@import "work/work-includes";
@import "variables";

login {
  display: block;
  text-align: center;

  .forgot {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 20px;

    @media (min-width: 768px) {
      width     : 380px;
    }

    a {
      text-decoration: none;
    }
  }

  hr {
    width: 100%;
    margin: 20px 0;
  }

  .sso-signon {
    margin: 20px auto;
  }

  .thankyou {
    background-color: $primary-color;
    margin: 1em 0;
    padding: 1em;

    p {
      color: $white;
      font-size: 16px;
      font-weight: normal;
    }
  }
}
