doctype html
html
  head
    meta(http-equiv="Content-type" content="text/html; charset=utf-8")
    title Topcoder Auth Connector
    each jsFile in htmlWebpackPlugin.files.js
      script !{compilation.assets[jsFile.substr(htmlWebpackPlugin.files.publicPath.length)].source()}
  body