
span(ng-show='vm.loading')
  | Logging in....
span(ng-show='vm.error')
  | Error occurred!

form(ng-submit='vm.submit()', method='post', ng-show='vm.init')
  input(type='text', ng-model='vm.username', required='required', placeholder='username', autofocus='autofocus', ng-disabled='vm.loading')
  br
  input(type='password', ng-model='vm.password', required='required', placeholder='password', ng-disabled='vm.loading')
  br
  button.action(type='submit', ng-disabled='vm.loading') login

div
  p
    | or Login with your social account.
    ul
      li
        a(href="#" ng-click="vm.socialLogin('facebook')" ng-disabled='vm.loading')
          | Facebook
      li
        a(href="#" ng-click="vm.socialLogin('github')" ng-disabled='vm.loading')
          | Github
      li
        a(href="#" ng-click="vm.socialLogin('google-oauth2')" ng-disabled='vm.loading')
          | Google
      li
        a(href="#" ng-click="vm.socialLogin('twitter')" ng-disabled='vm.loading')
          | Twitter
